<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Chapter Two - Variables</string>
	<key>Pages</key>
	<array>
		<string>01-Variables.playgroundpage</string>
		<string>02-Functions.playgroundpage</string>
		<string>03-Functions that Return Something.playgroundpage</string>
		<string>04-Functions with Parameters.playgroundpage</string>
		<string>07-Meet Waffles.playgroundpage</string>
		<string>10-Go to town.playgroundpage</string>
	</array>
</dict>
</plist>
