<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>Text.playgroundpage</string>
		<string>Types.playgroundpage</string>
		<string>5C313A78-E7F3-401A-B3F8-CB0BD2E7E57E.playgroundpage</string>
		<string>28464D71-74F5-4502-994D-A67D3222C81A.playgroundpage</string>
	</array>
</dict>
</plist>
